body {
    font-family: 'Roboto', sans-serif;
    font-size: 16 px;
    font-weight: 400;
    letter-spacing: 2%;
    line-height: 24px;
    background-color: #FFFFFF;
    color: #434455;
}

.nav .link {text-decoration: none;
color: #2E2F42;
font-weight: 500;
letter-spacing: 0.02em;
}

.nav .link:hover {
    color: #404BBF;
}

.nav .link:focus {
    color: #404bbf;
}

.nav .logo {text-decoration: none;}

.address {font-style: normal;}

.address .link {text-decoration: none;
color:#434455;
letter-spacing: 0.02em;}

.logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.header-logo {
    color: #2E2F42;
}

.address .link:hover {color: #404BBF;}
.address .link:focus {color: #404bbf;}

.section {background-color: #2E2F42;}

.title {
color: #FFFFFF;
font-size: 56px;
font-weight: 700;
letter-spacing: 0.02em;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;}

.button {font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
letter-spacing: 0.04em;
line-height: 1.5;
background-color: #4D5AE5;
color: #FFFFFF;
cursor: pointer;
}

.button:focus {background-color: #404BBF;}

.button:hover {background-color: #404BBF;}

.section-title {letter-spacing: 0.02em;}
.text {letter-spacing: 0.02em;}
.our-team-section {background-color: #F4F4FD;
}

.our-team-title { background-color: #FFFFFF;
color:#2E2F42;
font-size: 36px;
font-weight: 700;
letter-spacing: 0.02em;
text-transform: capitalize;
line-height: 1.11;
text-align: center;}

.team-group .images {background-color: #FFFFFF;}

ul {list-style-type: none;}
.section-text {font-size: 16px;
letter-spacing: 0.02em;}

.text {letter-spacing: 0.02em;}

<!-- -->
.ul .link {letter-spacing: 0.02em;} 

.header-third {font-size: 20px;
font-weight: 500;
color: #2E2F42;
letter-spacing: 0.02em;}

.footer {
background-color: #2E2F42;}

.footer-text {
color: #F4F4FD;
letter-spacing: 0.02em;}

.footer a {text-decoration: none;}

.footer-logo {color: #F4F4FD;}


