body {
    font-family: 'Roboto', sans-serif;
    font-size: 16 px;
    font-weight: 400;
    letter-spacing: 2%;
    line-height: 24px;
    background-color: #FFFFFF;
    color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

header {border-bottom: 1px solid #e7e9fc;}

.nav {display: flex;
align-items: center;} 

.nav .link {text-decoration: none;
color: #2E2F42;
font-weight: 500;
letter-spacing: 0.02em;
}

.nav .link:hover {
    color: #404BBF;
}

.nav .link:focus {
    color: #404bbf;
}

.nav .logo {text-decoration: none;}

.address {font-style: normal;}

.address .link {text-decoration: none;
color:#434455;
letter-spacing: 0.02em;}

.logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.header-logo {
    color: #2E2F42;
}

.address .link:hover {color: #404BBF;}
.address .link:focus {color: #404bbf;}

.address-list {display: flex;
gap: 40px;}

.hero-section {background-color: #2E2F42;
padding: 188px 0;}

.hero-title {
color: #FFFFFF;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
max-width: 496px;
margin-bottom: 48px;
margin-left: auto;
margin-right: auto;
}

.button {font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
letter-spacing: 0.04em;
line-height: 1.5;
background-color: #4D5AE5;
color: #FFFFFF;
cursor: pointer;
min-width: 169px;
height: 56px;
display: block;
margin: 0 auto;
border: none;
border-radius: 4px;}

.button:focus {background-color: #404BBF;}

.button:hover {background-color: #404BBF;}

.advantages-section {padding: 120px 0;
}

.advantages-list {display: flex;
flex-direction: row;
justify-content: center;
gap: 24px;
}

.advantages {flex-basis: calc((100%-3*24px)/4);}

.advantages-title {letter-spacing: 0.02em;
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;}

.text {letter-spacing: 0.02em;}

.team-section {background-color: #F4F4FD;
padding: 120px 0;
}

.team-title { background-color: #F4F4FD;
color:#2E2F42;
font-size: 36px;
font-weight: 700;
letter-spacing: 0.02em;
text-transform: capitalize;
line-height: 1.11;
text-align: center;
margin-bottom: 72px;
}

.team-group {display: flex;
flex-direction: row;
gap: 24px;
justify-content: space-between;
flex-basis: auto;
padding: 0 156px;}

.team-group-photos {background-color: #FFFFFF;
}

.team-group-photos > img {margin-bottom: 32px;} 
.section-text {margin-bottom: 32px;
text-align: center;}



ul {list-style-type: none;}
.section-text {font-size: 16px;
letter-spacing: 0.02em;}

.text {letter-spacing: 0.02em;}

.ul .link {letter-spacing: 0.02em;} 

.header-third {font-size: 20px;
font-weight: 500;
color: #2E2F42;
letter-spacing: 0.02em;
margin-bottom: 8px;
text-align: center;}

.portfolio {padding: 120px 0;
}

.portfolio-text {padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
margin-bottom: 8px;
}

.section-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    line-height: 1.11;
    text-align: center;
    margin-bottom: 72px;
}

.card-set {display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
}

.card-set-item {max-width: calc((100%-48px)/3);}

.footer {
background-color: #2E2F42;
padding-top: 100px;
padding-left: 156px;
padding-bottom: 100px;
padding-right: auto;

}

.footer-text {
color: #F4F4FD;
letter-spacing: 0.02em;
max-width: 264px;
}

.footer a {text-decoration: none;
display: inline-block;
margin-bottom: 16px;
}

.footer-logo {color: #F4F4FD;}




